<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/show.css">
    <title>감사일기 조회</title>
</head>
<body>
    <% if(result!=null && result.length > 0) { %>
            <% for(var i=0; i<result.length; i++) { %>
                <form action="/diary/getDiaries_detail" method="POST">
                    <ul class="show-con">
                        <h2>Thank From.</h2> <br>
                        <li class="created">
                            <% var year=result[i].created.getFullYear() %>
                            <%= year %>
                            .
                            <% if (( result[i].created.getMonth()+1 ) < 10) { %>
                                <% var month=String(0)+(result[i].created.getMonth()+1) %>
                                <%= month %>
                            <% }else { %>
                                <% var month=result[i].created.getMonth()+1 %>
                                <%= month %>
                            <% } %>
                            .
                            <% if (( result[i].created.getDate() ) < 10) { %>
                                <% var date=String(0)+(result[i].created.getDate() ) %>
                                <%= date %>
                            <% }else { %>
                                <% var date=result[i].created.getDate() %>
                                <%= date %>
                            <% } %>
                            <% var datestring=year+"-"+month+"-"+date %>
                        </li>
                    </ul>
                    <input type="submit" class="show-submit">
                </form>
            <% } %>
    <% }else{ %>
        <h2> 아직 작성한 감사일기가 없습니다.<br>
            서둘러 작성해 보세요 !
            </h2>
    <% } %>
</body>
</html>